<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
    </head>

    <body>
        {{> header}}
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt sem sit amet mi maximus, id dapibus enim luctus. Aenean auctor consectetur blandit. Sed sed diam odio. Pellentesque feugiat cursus turpis, eget ultricies justo consectetur eget. Morbi ut nunc id lorem semper dapibus et et felis. Phasellus non neque enim. Integer luctus erat sed lectus mollis condimentum. In ultricies enim in porta ultrices. Morbi et nulla ultricies felis facilisis vehicula id tristique velit. Etiam hendrerit placerat sem, nec aliquet est.
        </p>

        {{> footer }}
    </body>
</html>